$styleguide-width: 300px;
$padding: 20px;
$accent: #0f0fda;
$background: #F9FAF9;
$mid: #86918C;
$grey: #E4E4E4;
$panel-max-width: 800px;

@mixin normalizeElement {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
