@import 'shared';

.styleGuideViewer {
  color: black;

  &__description {
    color: #86918C;
  }

  &__propTypes {
    margin: $padding 0;

    caption {
      text-align: left;
      white-space: nowrap;
    }

    td {
      padding: 0 5px 5px 0;
    }

    td.sg-current {
      color: $mid;
      white-space: nowrap;
      max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  &__item-container {
    padding-top: $padding;
    border-top: 1px solid $grey;
    margin: $padding/2 0 ($padding / 2) 0;
  }

  &__variationsHeader {
    text-align: center;
    max-width: $panel-max-width;
  }
}
