@import 'normalize';
@import 'shared';
@import url('https://fonts.googleapis.com/css?family=Gudea:400,400i,700');

.styleGuide {
  font-family: 'Gudea', sans-serif;
  min-height: 100vh;


  @include normalize;
  background-color: $background;
  position: relative;
  padding: $padding  $padding $padding ($styleguide-width + $padding);
}

.styleGuide__panel {
  background-color: white;
  margin: $padding 0;
  padding: $padding;
  max-width: 800px;
}

@import 'contents';
@import 'navigation';
@import 'viewer';
@import 'typography';
@import 'color-list';
@import 'type-list';
