@import 'normalize';
@import 'shared';
@import url('https://fonts.googleapis.com/css?family=Gudea:400,400i,700');

.styleGuide {
  @include normalizeElement;
  min-height: 100vh;

  background: $background;
  position: relative;
  padding: $padding  $padding $padding ($styleguide-width + $padding);
}

.styleGuide-element {
  font-family: 'Gudea', sans-serif;
  &, td, th { @include normalizeElement };

  a {
    text-decoration: none;
    color: $accent;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: disc outside !important;
  }

  ol {
    list-style: decimal outside !important;
  }

  strong {
    font-weight: bold
  }

  em {
    font-style: italic;
  }

  ul,
  ol {
    padding-left: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.styleGuide__contents {
  padding: 0 $padding;
  margin-top: -$padding;
}

.styleGuide__panel {
  @include normalizeElement;
  background-color: white;
  margin: $padding 0;
  padding: $padding;
  max-width: $panel-max-width;
}

@import 'navigation';
@import 'viewer';
@import 'typography';
@import 'color-list';
@import 'type-list';
