@import 'normalize';
@import 'shared';
@import url('https://fonts.googleapis.com/css?family=Gudea:400,400i,700');

.styleGuide {
  @include normalizeElement;
  min-height: 100vh;

  background: $background;
  position: relative;
  padding: $padding  $padding $padding ($styleguide-width + $padding);
}

.styleGuide-element {
  font-family: 'Gudea', sans-serif;
  @include normalizeElement;

  a {
    text-decoration: none;
    color: $accent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.styleGuide__contents {
  padding: 0 $padding;
  margin-top: -$padding;
}

.styleGuide__panel {
  @include normalizeElement;
  background-color: white;
  margin: $padding 0;
  padding: $padding;
  max-width: 800px;
}

@import 'navigation';
@import 'viewer';
@import 'typography';
@import 'color-list';
@import 'type-list';
